<div class="thank-you">
  <p class="block-title">Thank you</p>

  <div class="thank-you-content">
    <div class="thank-you-star">
      <img class="star-image" src="../../../assets/star-big-image.png" alt="star">
    </div>

    <div *ngIf="(thankUser$ | async) as thankUser else thankUserAbsent">
      <p class="thank-you-title">Hey hey hey. Thank for your help!!!</p>

      <div class="thank-you-user">
        <app-avatar [user]="thankUser"></app-avatar>

        <p class="green-color name">{{ thankUser.firstName + ' ' + thankUser.lastName }}</p>
      </div>
    </div>

    <ng-template #thankUserAbsent>
      <p>Nobody say thanks yet</p>
    </ng-template>
  </div>
</div>
