<div class="personal-achievements">
  <div class="space-between personal-achievements__top">
    <p class="block-title">{{ title }}</p>
    <button class="btn block-button" (click)="openRequestDialog()">Request</button>
  </div>
  <ul class="personal-achievements__list">
    <li class="personal-achievements__item" *ngFor="let item of personalAchievements">
      <div class="space-between">
        <div>
          <img src="{{ item.image }}" alt="achieve image" class="personal-achievements__image">
        </div>
        <div class="personal-achievements__info">
          <span class="personal-achievements__title">{{ item.title }}</span>
          <span class="personal-achievements__time">{{ item.date }}</span>
        </div>
      </div>
      <div class="personal-achievements__points">
        <div class="personal-achievements__circle"></div>
        <span>+ {{ item.xpCount }} xp</span>
      </div>
    </li>
  </ul>
</div>
