<div class="dialog-content-wrapper">
  <div class="dialog-top">
    <mat-icon class="icon" mat-dialog-close>close</mat-icon>
  </div>

  <mat-dialog-content class="space-between">
    <div class="user-info">
      <app-avatar [user]="user" [size]="'big'"></app-avatar>

      <div class="user-details">
        <p class="user-name">{{ user.firstName + ' ' + user.lastName }}</p>

        <p><span class="green-text">EXP:</span> {{ user.xp }}XP</p>
      </div>
    </div>

    <div class="achievements-container">
      <!-- <div class="achievement" *ngFor="let achievement of user.achievements">
        <div matBadge="{{ achievement.count }}">
          <img src="../../../assets/achievement.jpg" class="achievement-image" alt="achievement icon">
        </div>

        <p>{{ achievement.title }}</p>
      </div> -->
    </div>
  </mat-dialog-content>
</div>

<button class="dialog-btn btn" [disabled]="isMe" (click)="sayThanks()">SAY THANKS</button>
