<mat-grid-list class="dashboard-container" cols="5"  rowHeight="fit" gutterSize="15px" style="height: 100%;">
  <mat-grid-tile class="green-block" colspan="4">
    <app-greeting></app-greeting>
  </mat-grid-tile>

  <mat-grid-tile  rowspan="7">
    <app-exoft-achievements class="dark-block"></app-exoft-achievements>
  </mat-grid-tile>

  <mat-grid-tile rowspan="3">
    <app-personal-achievements class="dark-block"></app-personal-achievements>
  </mat-grid-tile>

  <mat-grid-tile rowspan="3">
    <app-thank-you class="dark-block"></app-thank-you>
  </mat-grid-tile>

  <mat-grid-tile rowspan="3" colspan="2">
    <app-top-chart class="dark-block"></app-top-chart>
  </mat-grid-tile>

  <mat-grid-tile rowspan="3">
    <app-badges class="dark-block"></app-badges>
  </mat-grid-tile>

  <mat-grid-tile rowspan="3" colspan="3">
    <app-challenges class="dark-block"></app-challenges>
  </mat-grid-tile>
</mat-grid-list>
