<div class="personal-achievements">
  <div class="space-between personal-achievements-top">
    <p class="block-title">{{ title }}</p>

    <button class="btn block-button" (click)="openRequestDialog()">Request</button>
  </div>

  <ul class="personal-achievements-list">
    <li class="personal-achievements-item" *ngFor="let item of personalAchievements">
      <div class="space-between">
        <div>
          <img src="{{ item.image }}" alt="achieve image" class="personal-achievements-image">
        </div>

        <div class="personal-achievements-info">
          <span class="personal-achievements-title">{{ item.title }}</span>

          <span class="personal-achievements-time">{{ item.date }}</span>
        </div>
      </div>

      <div class="personal-achievements-points">
        <div class="personal-achievements-circle"></div>

        <span>+ {{ item.xpCount }} xp</span>
      </div>
    </li>
  </ul>
</div>
