<div class="top-chart">
  <p class="block-title">top chart</p>

  <div class="top-chart-content">
    <div class="top-chart-subtitle">
      <span class="green-text">Name</span>

      <span class="green-text">Total XP</span>
    </div>

    <div class="top-chart-info-container">
      <div class="top-chart-user" *ngFor="let user of (users$ | async); index as i">
        <div class="top-chart-user-info-container">
          <div class="top-chart-user-info">

          <app-avatar [user]=user [size]="avatarSize.Min"></app-avatar>
            <div class="top-chart-user-name">
              <span>{{ user.firstName }}</span>

              <span>{{ user.lastName }}</span>
            </div>
          </div>

          <div class="top-chart-user-xp">
            {{ user.xp }}XP
          </div>

        </div>
        <div class="bar" [style.background-color]="graphColors[i]" [style.width]="user.size"></div>
      </div>
    </div>
  </div>
</div>
