<div class="challenges">
  <div class="space-between">
    <p class="block-title">challenges</p>
    <button class="btn block-button">Show more</button>
  </div>

  <div class="challenges__content">
    <div class="challenges__section">
      <p class="green-text challenges__title">Available</p>
      <div class="challenges__info">
        <img class="challenges__image-main" src="../../../assets/riding.jpg" alt="riding">
        <span class="challenges__info-current">57K bike</span>
        <div class="challenges__info-details">
          <p class="green-text">93% of 57K complete</p>
          <p>05:20:00 Remaining</p>
        </div>
      </div>
    </div>
    <div class="challenges__section">
      <p class="green-text challenges__title">Ended</p>
      <div class="challenges__info">
        <div class="challenges__image" *ngFor="let el of [1, 2, 3, 4, 5, 6]">
          <span>5K Swim</span>
        </div>
      </div>
    </div>
    <div class="challenges__section">
      <p class="green-text challenges__title">Started</p>
      <div class="challenges__info">
        <div class="challenges__image" *ngFor="let el of [1, 2, 3, 4]">
          <span>5K Swim</span>
        </div>
      </div>
    </div>

  </div>
</div>
