@import '../../../styles.scss';

.badges {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &__count {
    text-align: center;

    &-title {
      font-size: 6.5rem;
      margin-bottom: 2rem;
    }
  }

  &__subtitle {
    margin-bottom: 0;
  }

  &__info {
    display: flex;
    justify-content: space-around;

    &-item {
      position: relative;
      font-size: 1.2rem;
      white-space: nowrap;
    }

    &-item::after {
      content: '';
      width: 0.4rem;
      height: 0.4rem;
      border-radius: 50px;
      background-color: $color-green;
      position: absolute;
      right: -12px;
      top: 36%;
    }
  }


  &__xp {
    &-count {
      font-size: 9rem;
      font-weight: normal;
      margin-bottom: 3rem;
    }

    &-subtitle {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
  }
}
