<div class="badges">
  <p class="block-title">{{ title }}</p>

  <div class="badges-count">
    <div class="badges-xp" *ngIf="showXp">
      <h2 class="badges-xp-count green-text">{{ user.xp }}</h2>

      <p class="badges-xp-subtitle">EXP</p>
    </div>

    <h3 [ngClass]="['badges-count-title', 'green-text', titleSizeClass]">{{ user.badges }}</h3>

    <p class="badges-subtitle">Badges</p>
  </div>

  <div class="badges-info">
    <span class="badges-info-item">25% more than average</span>

    <span class="badges-info-item">+5 new this month</span>
  </div>
</div>
