<div class="exoft-achievements">
  <div class="exoft-achievements__top">
    <div class="block-title">exoft achievements</div>
    <div class="exoft-achievements__count">80</div>
  </div>
  <div class="exoft-achievements__content">
    <div class="exoft-achievements__item" *ngFor="let item of achievements">
      <div class="exoft-achievements__avatar">
        <app-avatar [size]="'small'" [user]="item.user"></app-avatar>
      </div>
      <div class="exoft-achievements__item-data">
        <div class="exoft-achievements__item-info">
          <span class="green-text">{{ item.user.firstName + ' ' + item.user.lastName }}</span>
          <span class="exoft-achievements__item-date">{{ item.achievement.date }}</span>
        </div>
        <span class="exoft-achievements__item-title">{{ item.achievement.title }}</span>
        <div class="exoft-achievements__item-records">Records</div>
      </div>
    </div>
  </div>
</div>
