<div class="exoft-achievements">
  <div class="exoft-achievements__top">
    <div class="block-title">exoft achievements</div>
    <div class="exoft-achievements__count">80</div>
  </div>
  <div class="exoft-achievements__content">
    <div class="exoft-achievements__item" *ngFor="let item of achievements">
      <div class="exoft-achievements__avatar">
        <div *ngIf="item?.image; else textAvatar">
          <img class="avatar avatar-min" [src]="item.image" alt="avatar">
        </div>
        <ng-template #textAvatar>
          <div class="avatar avatar-min center-content">
            {{ item.firstName[0] + item.lastName[0] }}
          </div>
        </ng-template>
      </div>
      <div class="exoft-achievements__item-data">
        <div class="exoft-achievements__item-info">
          <span class="green-text">{{ item.firstName + ' ' + item.lastName }}</span>
          <span class="exoft-achievements__item-date">{{ item.date }}</span>
        </div>
        <span class="exoft-achievements__item-title">{{ item.title }}</span>
        <div class="exoft-achievements__item-records">Records</div>
      </div>
    </div>
  </div>
</div>
