@import './styles/variables.scss';
@import './styles/material-override.scss';
@import './styles/scrollbar.scss';
@import './styles/button.scss';
@import './styles/general.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $color-dark;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

button {
  outline: none;
  color: inherit;
  border: none;
}


@import './styles/styles.responsive.scss';
