<h2 class="title">full list of achievements</h2>

<table mat-table [dataSource]="achievements">
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Achievement </th>
    <td mat-cell *matCellDef="let element">
      <div class="achievement-info">
        <img src="{{ element.image }}" alt="achieve image" class="achievement__image">
        {{element.title}}
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="xp">
    <th mat-header-cell *matHeaderCellDef> EXP points </th>
    <td mat-cell *matCellDef="let element">+ {{element.xpCount}} XP</td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
