@import '../../../styles.scss';

.sign-in-container {
  max-width: 35rem;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;

  form {
    width: 100%;
    margin-bottom: 5rem;
    background-color: $color-light-dark;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    overflow: hidden;
    border-top: 5px solid $color-green;
    display: flex;
    flex-direction: column;

    .form-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 3rem 0;
      .mat-form-field {
        width: 80%;
        margin-bottom: 1rem;
      }

      mat-label {
        text-transform: uppercase;
      }

      p {
        text-transform: uppercase;
        text-decoration: underline;
        cursor: pointer;
      }
    }

    button {
      width: 100%;
      height: 4rem;
      font-size: 1.8rem;
      text-transform: uppercase;
    }
  }
}

.logo {
  width: 100%;
}

@media (min-width: 1400px){
  .sign-in-container {
    width: 32%;
  }
}
